.jumbotron {
    text-align: center;
    background-color: #F0F8FF;

}

.quizTime{
    text-align: center;
    margin: 2%;
    padding: 10%;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 35px;
    font-size: 27px;
    line-height: 1.3333333;
    border-radius: 6px;
}

body {
    background-image: url("../../assets/images/ovals.png");
    
}

.col-lg-12 {
    margin-top: 5%;
}

.btn-group {
    display: -webkit-inline-box;
}

.btn-primary {
    margin: 2%;
    padding: 1.5%;
}

h3 {
    margin: 4%;
}